body {
	background-color: #fff9f4;
	width: 100%;
  height: 100%;
	overflow-x: hidden;
	font-family: "avenir", "arial", sans-serif;
	font-size: 14px;
  padding-top: 50px;
  padding-bottom: 80px;
}
@font-face {
  font-family: "eveleth-regular";
  src: url(../fonts/eveleth-regular.ttf); 
}
@font-face {
  font-family: "eveleth-thin";
  src: url(../fonts/eveleth-thin.ttf); 
}
@font-face {
  font-family: "avenir";
  src: url(../fonts/avenir.ttc); 
}
@font-face {
  font-family: "font-awesome";
  src: url(../fonts/fontawesome-webfont.ttf); 
}
header {
	width: 100%;
	height: 50px;
	background-color: #043540;
  position: fixed;
  top: 0;
  z-index: 999;
}
footer {
  position: relative;
  background-color: #043540;
  color: #fff9f4;
}
.footer {
	width: 100%;
	height: 80px;
	background-color: #043540;
	color: #fff9f4;
	position: fixed;
	bottom: 0;
}
.social-media {
	text-align: center;
}

h1 {
	font-family: "eveleth-regular" !important;
	text-align: center;
}
h2, h3, h4, h5 {
	font-family: "eveleth-thin";
	line-height: 1.6;
}

#logo {
	float: left;
	height: 50px;
	width: auto;
}
#logo img {
	height: 30px;
	width: auto;
	margin-top: 10px;
}
#user {
	float: right;
	height: 50px;
	width: auto;
	color: #fff9f4;
	font-size: 30px;
	margin-top: 10px;
}
.headline {
	position: relative;
	margin-left: 0;
	margin-right: 0;
}
.headline h1{
	margin-top: 20px;
}
.underline {
	float: right;
}
.underline img {
	width: 100%;
}
.register-text {
	text-align: center;
}
.register-text h2 {
	margin-top: 80px;
	margin-bottom: 80px;
}
.register-input {
	text-align: center;
}
.register-input input {
	border: 2px solid #043540;
	width: 100%;
	height: 60px;
}
.social-media {
	font-size: 16px;
	padding-top: 10px;
	position: relative;
}
.social-media-icons {
	margin-top: 5px;
	font-size: 20px;
}
.social-media-icons i {
	margin-left: 5px;
	margin-right: 5px;
}
.tuborg {
	position: absolute;
	right: 10px;
	height: 40px;
	top: 15px;
}
.tuborg img {
	height: 40px;
}
  @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


#feedback-page{
  text-align:center;
}

#form-main{
  width:100%;
  float:left;
  padding-top:0px;
}

#form-div {
  background-color: #043540;
  padding-left:35px;
  padding-right:35px;
  padding-top:35px;
  padding-bottom:50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top:30px;
  margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
  color:#3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #043540;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
  color: #8bc7b9;
  border: #8bc7b9 solid 3px;
}

/* Icons ---------------------------------- */
#email{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  background-color: white;
  border: #fbfbfb solid 2px;
  border-radius: 12px
}

#email:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  border: #fbfbfb solid 2px;
  border-radius: 12px
}

#password{
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  background-color: white;
  border: #fbfbfb solid 2px;
  border-radius: 12px;
}

#password:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  border: #fbfbfb solid 2px;
  border-radius: 12px
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

#button-blue{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 100%;
  border: 2px;
  border-radius: 12px;
  cursor:pointer;
  background-color: #8bc7b9;
  color:#043540;
  font-size:24px;
  padding-top:15px;
  padding-bottom:15px;
  transition: all 0.3s;
  margin-top:6px;
  font-weight:700;
}

#signup{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 100%;
  border: 2px;
  border-radius: 12px;
  cursor:pointer;
  background-color: #ffd962;
  background-size: 20px 20px;
  background-position: 11px 8px;
  color:#043540;
  font-size:24px;
  padding-top:15px;
  padding-bottom:15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 16px;
  font-weight:700;
  text-align: center;
}
  
  
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}


@media only screen and (max-width: 580px) {
  #form-div{
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}
